In [58]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [59]:
df=pd.read_csv('Churn_Modelling.csv')

In [60]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [61]:
df.isna().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [62]:
df.duplicated().sum()

np.int64(0)

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [64]:
df.value_counts('Gender')

Gender
Male      5457
Female    4543
Name: count, dtype: int64

In [65]:
df.value_counts('Geography')

Geography
France     5014
Germany    2509
Spain      2477
Name: count, dtype: int64

In [66]:
df.drop(['RowNumber','CustomerId','Surname'],axis=1,inplace=True)

In [67]:
# onehot encoding
df=pd.get_dummies(df,columns=["Geography","Gender"],drop_first=True)

In [69]:
X=df.drop(columns="Exited")
y=df['Exited']

In [71]:
from sklearn.model_selection import train_test_split
# train_test_split()
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [74]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X=train=sc.fit_transform(X_train)
X=test=sc.transform(X_test)

In [77]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense,Dropout
from tensorflow.keras.activations import relu,sigmoid
from tensorflow.keras.callbacks import EarlyStopping

In [78]:
model=Sequential()

In [81]:
# input layer
model.add(Dense(units=11,activation='relu'))
model.add(Dropout(0.2))

In [82]:
# 1st hidden layer
model.add(Dense(units=7,activation='relu'))
model.add(Dropout(0.2))

In [83]:
# 2st hidden layer
model.add(Dense(units=6,activation='relu'))
model.add(Dropout(0.2))

In [84]:
model.add(Dense(units=1,activation='sigmoid'))

In [85]:
model.compile(optimizer='Adam',loss='binary_crossentropy',metrics=['accuracy'])

In [87]:
early=tf.keras.callbacks.EarlyStopping(
    monitor='val_loss',
    min_delta=0,
    patience=0,
    verbose=0,
    mode='auto',
    baseline=None,
    restore_best_weights=False,
    start_from_epoch=0,

)

In [88]:
model.fit(X_train,y_train,epochs=50,validation_split=0.2,callbacks=[early])

Epoch 1/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 5s 7ms/step - accuracy: 0.3615 - loss: 8173.6323 - val_accuracy: 0.7550 - val_loss: 59.8150
Epoch 2/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.6275 - loss: 823.7131 - val_accuracy: 0.7625 - val_loss: 8.8727
Epoch 3/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.6744 - loss: 324.5742 - val_accuracy: 0.7931 - val_loss: 1.2018
Epoch 4/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.7212 - loss: 158.6161 - val_accuracy: 0.7987 - val_loss: 0.7159
Epoch 5/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7260 - loss: 83.2845 - val_accuracy: 0.7987 - val_loss: 0.5710
Epoch 6/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7395 - loss: 53.5024 - val_accuracy: 0.7987 - val_loss: 0.5192
Epoch 7/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7578 - loss: 42.9540 - val_accuracy: 0.7987 - val_loss: 0.5113
Epoch 8/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7826 - loss: 27.2404 - val_accuracy: 0.7987 - val_loss: 0.5073
Epoch 9/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.7733 - loss: 15.4589 - val_accuracy: 0.7987 - val_loss: 0.5038
Epoch 10/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.7805 - loss: 11.0431 - val_accuracy: 0.7987 - val_loss: 0.5027
Epoch 11/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.7927 - loss: 7.4412 - val_accuracy: 0.7987 - val_loss: 0.5018
Epoch 12/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7780 - loss: 7.0719 - val_accuracy: 0.7987 - val_loss: 0.5012
Epoch 13/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7776 - loss: 4.6447 - val_accuracy: 0.7987 - val_loss: 0.5015

In [91]:
y_pred_prob=model.predict(X_test)

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step

In [92]:
y_pred_prob

array([[0.19455838],
       [0.19455838],
       [0.19455838],
       ...,
       [0.19455838],
       [0.19455838],
       [0.19455838]], dtype=float32)

In [93]:
y_pred=(y_pred_prob>0.5).astype(int)

In [94]:
y_pred

array([[0],
       [0],
       [0],
       ...,
       [0],
       [0],
       [0]])

In [95]:
y_pred_train=(model.predict(X_train)>0.5).astype(int)

250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step

In [96]:
from sklearn.metrics import accuracy_score,classification_report

In [97]:
accuracy_score(y_test,y_pred)

0.8035

In [98]:
accuracy_score(y_train,y_pred_train)

0.7945

In [99]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.80      1.00      0.89      1607
           1       0.00      0.00      0.00       393

    accuracy                           0.80      2000
   macro avg       0.40      0.50      0.45      2000
weighted avg       0.65      0.80      0.72      2000

/usr/local/lib/python3.12/dist-packages/sklearn/metrics/_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
/usr/local/lib/python3.12/dist-packages/sklearn/metrics/_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
/usr/local/lib/python3.12/dist-packages/sklearn/metrics/_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

In [100]:
import joblib
joblib.dump(model,'Churn_pred.pkl')
print('model saved')
model.save("churn_model.keras")

model saved